
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_1.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_10.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_11.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_12.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_13.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_14.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_15.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_16.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_17.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_18.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_19.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_2.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_3.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_4.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_5.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_6.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_7.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_8.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_9.tif
Data Analysis/Bot RA/data/climate/wc2.1_2.5m/wc2.1_2.5m_bioc_ACCESS-CM2_ssp585_2061-2080.tif
Data Analysis/Bot RA/data/climate/wc2.1_30s/wc2.1_30s_bio.zip
Data Analysis/Bot RA/GBIF2.csv
Data Analysis/Bot RA/occurrence.txt
